name: trigo_project
description: "Trigo fitness & training app"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # GPS & storage
  geolocator: ^11.0.0
  shared_preferences: ^2.5.4

  # Bluetooth & sensors
  flutter_reactive_ble: ^5.4.0
  flutter_blue_plus: ^1.34.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
